h1 {
  font-family: 'Courier New', Courier, monospace;
  color: darkslategray;
  margin-bottom: 0px;
  margin-top: 10px;
}

h5 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 157, 255);
}

hr {
  background-color: darkslategray;
  margin-top: 0px;
  margin-bottom: 5px;
}

.info-comp {
  height: 150px;
  border-left: gray solid 1px;
  /* border-top: gray solid 1px; */
  margin-top: 12px;
}

.cc-body {
  margin-left: 10px;
}

.info-comp hr {
  background-color: lightgray;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
